<% layout('./layouts/boilerplate') %>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mb-4"><%=publicacion.title%></h1>
      <a href="/groups/<%= publicacion.group._id%>"><h5> <%= publicacion.group.name%></h5></a>
      <div class="mb-4">
        <img
          src="https://mdbootstrap.com/img/new/fluid/city/041.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
        </div>

        <h2 class="mb-4">Descripcion</h2>
        <p class="mb-4"><%=publicacion.description%></p>
        <h3 class="mb-4">Fecha</h3>
        <p class="mb-4"><%=publicacion.date%></p>

        <h3 class="mb-4\">Localizacion</h3>
        <p class="mb-4"><%=publicacion.location%></p>
        <h2 class="mb-4">Subheading 2</h2>
        <p class="mb-4">Subheading text goes here.</p>
      </div>
      
    </div>
  </div>
</div>
